<!-- Fixed navbar -->
<navigation-app></navigation-app>
<!-- Carousel
    ================================================== -->
<carousel-app></carousel-app>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
                width="140" height="140">
            <h3>Step 1</h3>
            <p>Select your menu online or by calling us at</p>
            <h2>8970084555</h2>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
                width="140" height="140">
            <h3>Step 2</h3>
            <p>Add to the cart and place the order.</p>
            <h2>Don't pay online!</h2>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
                width="140" height="140">
            <h3>Step 3</h3>
            <p>Receive the call to meet us at the curb.</p>
            <h2>Pay in cash!</h2>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div>
<!-- /.container -->