<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="public/images/favicon.png">
    <title>Zigwe</title>
   <% include partials/bootstrapcss-dependencies.ejs %>
   <% include partials/angularjs-dependencies.ejs %>
  </head>
  <!-- 3. Display the application -->
  <body>
    <my-app><div class="spinner-wrapper"><i class="fa fa-circle-o-notch fa-spin"></i></div></my-app>
    <% include partials/bootstrapjs-dependencies.ejs %>
  </body>
</html>